<div class="container mt-3">
  <h2>Pets for Adoption</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pet of pets">
      <td>{{ pet.name }}</td>
      <td>{{ pet.age }}</td>
      <td>{{ pet.description }}</td>
      <td>
        <button class="btn btn-danger" (click)="deletePet(pet.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <h2>Add a Pet</h2>
  <form (submit)="createPet(name.value, +age.value, description.value); name.value=''; age.value=''; description.value=''; $event.preventDefault()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" #name>
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" class="form-control" id="age" #age>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" #description></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Add Pet</button>
  </form>
</div>

